[submodule "extern/cmocka"]
	path = extern/cmocka
	url = https://gitlab.com/cmocka/cmocka.git
[submodule "extern/doxygen-awesome-css"]
	path = extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
